cached_bioconductor_tarballs
.web_cache

#Ignore backup files from some Unix editors,
*~
*.swp
*.bak

#Ignore patches and any original files created by patch command
*.diff
*.orig
*.rej

#Ignore these hidden files from Mac OS X
.DS_Store
._.DS_Store

#Ignore hidden files from Dolphin window manager
.directory

#People sometimes mistakenly upload their local copy of these files
.circleci/common.sh
.vscode/settings.json

#For people using: pyenv local
.python-version

.idea/
recipes/mrf/out.csv
recipes/mrf/out.sif
recipes/mrf/out.tab
recipes/mrf/inputFile/__pycache__/inputBioplex.cpython-39.pyc
recipes/mrf/inputFile/__pycache__/inputFile.cpython-39.pyc
recipes/mrf/meanfield/__pycache__/simulateLikelihood.cpython-39.pyc
recipes/mrf/spoke_model/__pycache__/countBioplexSpokeModel.cpython-39.pyc
recipes/mrf/spoke_model/__pycache__/countSpokeModel.cpython-39.pyc
