cached_bioconductor_tarballs
.web_cache

#Ignore backup files from some Unix editors,
*~
*.swp
*.bak

#Ignore patches and any original files created by patch command
*.diff
*.orig
*.rej

#Ignore these hidden files from Mac OS X
.DS_Store
._.DS_Store

#Ignore hidden files from Dolphin window manager
.directory

#People sometimes mistakenly upload their local copy of this file
.circleci/common.sh

#For people using: pyenv local
.python-version

.idea/
