include bioconda_utils/bioconda_utils-requirements.txt
include bioconda_utils/bioconda_utils-conda_build_config.yaml
include bioconda_utils/config.schema.yaml
include bioconda_utils/templates/*
include bioconda_utils/templates/css/*
include bioconda_utils/maintainers.yaml
include bioconda_utils/involucro
include versioneer.py
include bioconda_utils/_version.py
