# .circleci/config.yml
version: 2.1

executors:
  # osx-arm64:
  #   macos:
  #     xcode: 14.2.0 # indicate your selected version of Xcode
  #   resource_class: macos.m1.large.gen1
  linux-aarch64:
    docker:
      - image: cimg/base:2023.06
    resource_class: arm.medium

jobs: # a basic unit of work in a run
  build_and_test:
    parameters:
      os:
        type: executor
    executor: << parameters.os >>
    steps:
      - checkout

      - run:
          name: Check for Additional Platforms
          command: |
            files=`git diff --name-only --diff-filter AMR origin/master...HEAD | grep -E 'meta.yaml$' `
            build=0
            for file in $files; do
              echo $file
              additional_platforms=$(cat $file | sed -E 's/(.*)\{[%{](.*)[%}]\}(.*)/# \1\2\3/g' | yq '.extra.additional-platforms[]')
                for additional_platform in $additional_platforms; do
                    if [ "${CIRCLE_JOB}" = "build_and_test-${additional_platform}" ]
                    then
                        build=1
                        break
                    fi
                done
            done

            if [[ build -lt 1 ]]
            then
              echo "No recipes using this platform, skipping rest of job."
              circleci-agent step halt
            fi

      - run:
          name: Fetch bioconda install script
          command: wget https://raw.githubusercontent.com/bioconda/bioconda-common/master/{common,install-and-set-up-conda,configure-conda}.sh

      - restore_cache:
          keys:
            - bioconda-utils-{{ arch }}-{{ checksum "install-and-set-up-conda.sh" }}-{{ checksum "configure-conda.sh" }}-{{ checksum "common.sh" }}

      - run:
          name: Install bioconda-utils
          command: |
            sudo mkdir -p /opt/
            sudo chmod o+rwx /opt
            bash install-and-set-up-conda.sh

      - save_cache:
          key: bioconda-utils-{{ arch }}-{{ checksum "install-and-set-up-conda.sh" }}-{{ checksum "configure-conda.sh" }}-{{ checksum "common.sh" }}
          paths:
            - /opt/mambaforge/
    
      - run:
          name: Setup PATH
          command:
            echo 'export PATH=/opt/mambaforge/bin:"$PATH"' >> "$BASH_ENV"

      # We reconfigure conda to use the right channel setup.
      # This has to be done after the cache is restored, because
      # the channel setup is not cached as it resides in the home directory.
      # We could use a system-wide (and therefore cached) channel setup,
      # but mamba does not support that at the time of implementation
      # (it ignores settings made by --system).
      - run:
          name: Configure conda
          command: bash configure-conda.sh

      - run:
          name: Build and test
          command: |
            source /opt/mambaforge/etc/profile.d/conda.sh
            source /opt/mambaforge/etc/profile.d/mamba.sh
            mamba activate bioconda
            bioconda-utils build recipes config.yml --git-range origin/master HEAD

      - run:
          name: Prepare artifacts
          command: |
            (
            mkdir -p /tmp/artifacts/packages
            cd /opt/mambaforge/envs/bioconda/conda-bld || exit 0
            find -name .cache | xargs rm -rf || true
            for n in index.html channeldata.json linux-aarch64 linux-64 osx-64 noarch; do
              cp -rv $n /tmp/artifacts/packages || true
            done
            ) || true

      - store_artifacts:
          path: /tmp/artifacts

  build_and_upload:
    parameters:
      os:
        type: executor
    executor: << parameters.os >>
    steps:
      - checkout

      - run:
          name: Check for Additional Platforms
          command: |
            files=`git diff --name-only --diff-filter AMR ${CIRCLE_SHA1}~1 ${CIRCLE_SHA1} | grep -E 'meta.yaml$' `
            build=0
            for file in $files; do
              echo $file
              additional_platforms=$(cat $file | sed -E 's/(.*)\{[%{](.*)[%}]\}(.*)/# \1\2\3/g' | yq '.extra.additional-platforms[]')
                for additional_platform in $additional_platforms; do
                    if [ "${CIRCLE_JOB}" = "build_and_test-${additional_platform}" ]
                    then
                        build=1
                        break
                    fi
                done
            done

            if [[ build -lt 1 ]]
            then
              echo "No recipes using this platform, skipping rest of job."
              circleci-agent step halt
            fi

      - run:
          name: Fetch bioconda install script
          command: wget https://raw.githubusercontent.com/bioconda/bioconda-common/master/{common,install-and-set-up-conda,configure-conda}.sh

      - restore_cache:
          keys:
            - bioconda-utils-{{ arch }}-{{ checksum "install-and-set-up-conda.sh" }}-{{ checksum "configure-conda.sh" }}-{{ checksum "common.sh" }}

      - run:
          name: Install bioconda-utils
          command: |
            sudo mkdir -p /opt
            sudo chmod o+rwx /opt
            bash install-and-set-up-conda.sh

      - save_cache:
          key: bioconda-utils-{{ arch }}-{{ checksum "install-and-set-up-conda.sh" }}-{{ checksum "configure-conda.sh" }}-{{ checksum "common.sh" }}
          paths:
            - /opt/mambaforge

      - run:
          name: Setup PATH
          command:
            echo 'export PATH=/opt/mambaforge/bin:"$PATH"' >> "$BASH_ENV"

      # We reconfigure conda to use the right channel setup.
      # This has to be done after the cache is restored, because
      # the channel setup is not cached as it resides in the home directory.
      # We could use a system-wide (and therefore cached) channel setup,
      # but mamba does not support that at the time of implementation
      # (it ignores settings made by --system).
      - run:
          name: Configure conda
          command: bash configure-conda.sh

      - run:
          name: Build and push
          command: |
            source /opt/mambaforge/etc/profile.d/conda.sh
            source /opt/mambaforge/etc/profile.d/mamba.sh
            mamba activate bioconda
            # TODO we need to update bioconda-utils with support for retrieving circleci artifacts from above
            bioconda-utils handle-merged-pr recipes config.yml \
              --repo bioconda/bioconda-recipes \
              --git-range ${CIRCLE_SHA1}~1 ${CIRCLE_SHA1} \
              --fallback build

workflows:
  build and test (ARM):
    jobs:
      - build_and_test:
          filters:
            branches:
              ignore: master
          matrix:
            parameters:
              os:
                #- osx-arm64
                - linux-aarch64

  build and upload (ARM):
    jobs:
      - build_and_upload:
          filters:
            branches:
              only: master
          matrix:
            parameters:
              os:
                #- osx-arm64
                - linux-aarch64
