version: 2

variables:
  restore_cache: &restore_cache
    restore_cache:
      keys:
        - miniconda-{{ checksum ".circleci/common.sh" }}-{{ checksum ".circleci/setup.sh" }}-{{ arch }}
  save_cache: &save_cache
    save_cache:
      key: miniconda-{{ checksum ".circleci/common.sh" }}-{{ checksum ".circleci/setup.sh" }}-{{ arch }}
      paths:
        - /tmp/workspace/miniconda
  common: &common
    run:
      name: Download common definitions
      command: curl -s https://raw.githubusercontent.com/bioconda/bioconda-utils/master/.circleci/common.sh > .circleci/common.sh
  setup: &setup
    run: 
      name: Setup bioconda-utils
      command: .circleci/setup.sh
  macos: &macos
    macos:
      xcode: "8.3.3"
  linux: &linux
    machine: true

jobs:
  # When running CircleCI locally, we put everything in one job.
  build:
    docker:
      - image: bioconda/bioconda-utils-build-env
    steps:
      - checkout
      - run:
          name: Setup ssh
          command: |
            mkdir -p ~/.ssh
            ssh-keyscan -H github.com >> ~/.ssh/known_hosts
      - *common
      - *setup
      - run:
          name: Linting
          command: bioconda-utils lint recipes config.yml --git-range master HEAD
      - run:
          name: Testing
          # Currently, using --docker below causes a permission error on Fedora 27, 
          # although it should be supported by the setup_remote_docker directive 
          # above. A workaround or an upstream fix would be welcome.
          command: bioconda-utils build recipes config.yml --git-range master HEAD

  lint:
    <<: *linux
    steps:
      - checkout
      - *common
      - *restore_cache
      - *setup
      - *save_cache
      - run:
          name: Linting
          command: bioconda-utils lint recipes config.yml --git-range master HEAD

  # build and test on linux
  test-linux:
    <<: *linux
    steps:
      - checkout
      - *common
      - *restore_cache
      - *setup
      - *save_cache
      - run:
          name: Building and testing
          command: bioconda-utils build recipes config.yml --git-range master HEAD --docker --mulled-test

  # build and test on macos
  test-macos:
    <<: *macos
    steps:
      - checkout
      - *common
      # We cannot cache the miniconda installation on macos.
      # The reason is that tar seems to have a bug when handling sym and hardlinks in the miniconda installation.
      # The error is, e.g.: Cannot extract through symlink tmp/workspace/miniconda/LICENSE.rst
      - *setup
      - run:
          name: Building and testing
          command: bioconda-utils build recipes config.yml --git-range master HEAD
  
  # build, test and upload on linux
  upload-linux:
    <<: *linux
    steps:
      - checkout
      - *common
      - *restore_cache
      - *setup
      - *save_cache
      # build only current commit (since we use squashed merging, this is safe)
      - run:
          name: Building, testing, and uploading
          command: bioconda-utils build recipes config.yml --docker --mulled-test --anaconda-upload --mulled-upload-target biocontainers --git-range $CIRCLE_SHA1

  # build, test and upload on macos
  upload-macos:
    <<: *macos
    steps:
      - checkout
      - *common
      - *setup
      # build only current commit (since we use squashed merging, this is safe)
      - run:
          name: Building, testing and uploading
          command: bioconda-utils build recipes config.yml --anaconda-upload --git-range $CIRCLE_SHA1

  # build, test and upload for bulk branch on linux
  bulk-linux:
    <<: *linux
    steps:
      - checkout
      - *common
      - *restore_cache
      - *setup
      - *save_cache
      # build everything that differs compared to master
      - run:
          name: Building, testing, and uploading of all unpublished recipes
          command: bioconda-utils build recipes config.yml --docker --mulled-test --anaconda-upload --mulled-upload-target biocontainers --git-range master HEAD

  # build, test and upload for bulk branch on macos
  bulk-macos:
    <<: *macos
    steps:
      - checkout
      - *common
      - *setup
      # build everything that differs compared to master
      - run:
          name: Building, testing and uploading of all unpublished recipes
          command: bioconda-utils build recipes config.yml --anaconda-upload --git-range master HEAD


  # nightly build, test and upload of unpublished recipes on linux
  nightly-upload-linux:
    <<: *linux
    steps:
      - checkout
      - *common
      - *restore_cache
      - *setup
      - *save_cache
      - run:
          name: Building, testing, and uploading of all unpublished recipes
          command: bioconda-utils build recipes config.yml --docker --mulled-test --anaconda-upload --mulled-upload-target biocontainers

  # nightly build, test and upload of unpublished recipes on macos
  nightly-upload-macos:
    <<: *macos
    steps:
      - checkout
      - *common
      - *setup
      - run:
          name: Building, testing and uploading of all unpublished recipes
          command: bioconda-utils build recipes config.yml --anaconda-upload



workflows:
  version: 2
  # workflow for testing pushes and PRs
  bioconda-test:
    jobs:
      - lint:
          filters:
            branches:
              ignore:
                - master
                - bulk
      - test-linux:
          requires:
            - lint
          filters:
            branches:
              ignore:
                - master
                - bulk
      - test-macos:
          requires:
            - lint
          filters:
            branches:
              ignore:
                - master
                - bulk
  # workflow for uploading packages from master and bulk branch
  bioconda-upload-master:
    jobs:
      - upload-linux:
          filters:
            branches:
              only:
                - master
      - upload-macos:
          filters:
            branches:
              only:
                - master
  # workflow for bulk-updates
  bioconda-upload-bulk:
    jobs:
      - bulk-linux:
          filters:
            branches:
              only:
                - bulk
      - bulk-macos:
          filters:
            branches:
              only:
                - bulk
  # nightly workflow to capture missed recipes
  bioconda-nightly-upload:
     triggers:
       - schedule:
           cron: "0 0 * * *"
           filters:
             branches:
               only:
                 - master
     jobs:
       - nightly-upload-linux
       - nightly-upload-macos
