mpi:
# - openmpi=5.0.7
# - openmpi=5.0.6
# - openmpi=4.1.6
# - mpich=4.3.1
# - mpich=4.3.0
# - mpich=4.2.3
# - mvapich=4.0
  - mvapich=4.1
# - psmpi=5.12.1

c_compiler_version:
  - 13

cxx_compiler_version:
  - 13

fortran_compiler_version:
  - 13

c_stdlib:
  - sysroot

sysroot_linux_64:
  - 2.17

sysroot_linux_aarch64:
  - 2.17
