sqlalchemy==1.3.22
tensorflow>=2.6.2
tensorflow_addons
nni
seaborn
Keras
keras_layer_normalization
terminaltables
HTSeq
intervaltree
numpy
h5py
multiprocess
git+https://github.com/gglyptodon/dustdas@v0.2
numcodecs
appdirs
# for testing only
pytest
requests
