# Configuration file loaded at rgt startup. CAREFUL: any changes shall be overwritten
# whenever rgt is (re)installed. Use data.config.user for permanent changes.

[mm9]
genome: mm9/genome_mm9.fa
chromosome_sizes: mm9/chrom.sizes.mm9
genes_Gencode: mm9/genes_Gencode_mm9.bed
genes_RefSeq: mm9/genes_RefSeq_mm9.bed
annotation: mm9/gencode.vM1.annotation.gtf
gene_alias: mm9/alias_mouse.txt
repeat_maskers: mm9/repeat_maskers

[mm10]
genome: mm10/genome_mm10.fa
chromosome_sizes: mm10/chrom.sizes.mm10
genes_Gencode: mm10/genes_Gencode_mm10.bed
genes_RefSeq: mm10/genes_RefSeq_mm10.bed
annotation: mm10/gencode.vM11.annotation.gtf
gene_alias: mm10/alias_mouse.txt

[hg19]
genome: hg19/genome_hg19.fa
chromosome_sizes: hg19/chrom.sizes.hg19
genes_Gencode: hg19/genes_Gencode_hg19.bed
genes_RefSeq: hg19/genes_RefSeq_hg19.bed
annotation: hg19/gencode.v19.annotation.gtf
gene_alias: hg19/alias_human.txt
repeat_maskers: hg19/repeat_maskers

[hg38]
genome: hg38/genome_hg38.fa
chromosome_sizes: hg38/chrom.sizes.hg38
genes_Gencode: hg38/genes_Gencode_hg38.bed
genes_RefSeq: hg38/genes_RefSeq_hg38.bed
annotation: hg38/gencode.v24.annotation.gtf
gene_alias: hg38/alias_human.txt
repeat_maskers: hg38/repeat_maskers

[zv9]
genome: zv9/genome_zv9_ensembl_release_79.fa
chromosome_sizes: zv9/chrom.sizes.zv9
gene_regions: zv9/genes_zv9.bed
annotation: zv9/Danio_rerio.Zv9.79.gtf
gene_alias: zv9/alias_zebrafish.txt

[zv10]
genome: zv10/genome_zv10_ensembl_release_84.fa
chromosome_sizes: zv10/chrom.sizes.zv10
gene_regions: zv10/genes_zv10.bed
annotation: zv10/Danio_rerio.GRCz10.84.gtf
gene_alias: zv10/alias_zebrafish.txt

[MotifData]
pwm_dataset: motifs
logo_dataset: logos
repositories: jaspar_vertebrates

[HmmData]
default_hmm_dnase: fp_hmms/dnase.hmm
default_hmm_dnase_bc: fp_hmms/dnase_bc.hmm
default_hmm_atac_paired: fp_hmms/atac_paired.pkl
default_hmm_atac_single: fp_hmms/atac_single.pkl
default_hmm_histone: fp_hmms/histone.hmm
default_hmm_dnase_histone: fp_hmms/dnase_histone.hmm
default_hmm_dnase_histone_bc: fp_hmms/dnase_histone_bc.hmm
default_hmm_atac_histone: fp_hmms/atac_histone.hmm
default_hmm_atac_histone_bc: fp_hmms/atac_histone_bc.hmm
default_bias_table_F_SH: fp_hmms/single_hit_bias_table_F.txt
default_bias_table_R_SH: fp_hmms/single_hit_bias_table_R.txt
default_bias_table_F_DH: fp_hmms/double_hit_bias_table_F.txt
default_bias_table_R_DH: fp_hmms/double_hit_bias_table_R.txt
default_bias_table_F_ATAC: fp_hmms/atac_bias_table_F.txt
default_bias_table_R_ATAC: fp_hmms/atac_bias_table_R.txt
dependency_model: fp_hmms/LearnDependencyModel.jar
slim_dimont_predictor: fp_hmms/SlimDimontPredictor.jar
default_test_fa: fp_hmms/test.fa

[Library]
path_triplexator: lib/libtriplexator.so
path_c_rgt: lib/librgt.so
