# install4j response file for Cytoscape 3.7.1
ShareStatistics$Boolean=false
sys.adminRights$Boolean=false
sys.component.235$Boolean=true
sys.installationDir=${PREFIX}/share/${PKG_NAME}-${PKG_VERSION}-${PKG_BUILDNUM}
sys.languageId=en
