.recipe .descname {
    font-size: 240%;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

.package .descname {
    font-size: 180%;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}
