.recipe .descname {
    font-size: 240%;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

.package .descname {
    font-size: 180%;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

/* remove gray background for versions (own and dependencies) */
.package code {
    background: none;
}

/* visual hints for collapsed version list */
.package details summary {
    cursor: pointer;
}
.package details summary::after {
    content: "...";
}

/* hide truncated version list if full list is shown */
.package details[open] .truncated-version-list {
    display: none;
}

/* append conda-forge anvil logo to feedstock links

   - using ::before instead of ::after it would appear in front
   - vertical-align alows shifting it up and down
*/
a.conda-forge::after {
    background-image: url('just_anvil_black.png');
    background-size: 100% 100%;
    content: '';
    height: .4em;
    width: .8em;
    display: inline-block;
    vertical-align: .4em;
}

/* append bioconda circular logo to package links

   adjustments same as above; the circle sits a little
   lower to account for "optical weight".
*/
a.conda-package::after {
    background-image: url('logo/bioconda_circular.png');
    background-size: 100% 100%;
    content: '';
    height: .7em;
    width: .7em;
    display: inline-block;
    vertical-align: .2em;
}

/* Style field lists as comma separated block */
.field-list-wrapped ul {
    list-style: none;    /* no bullets */
    display: inline;     /* as word wrapped block */
    padding-left: 0px;   /* no indent */
}
.field-list-wrapped li {
    display: inline;     /* as word wrapped block */
    white-space: nowrap; /* no line breaks inside of list item */
}
.field-list-wrapped li::after {
    content: ", ";       /* add comma after each list item ... */
}
.field-list-wrapped li:last-child:after {
    content: "";         /* except for the last item */
}
.field-list-wrapped p {
    display: inline;    /* as word wrapped block, even if sphinx/docutils emit p */
}

/* Corner Ribbon
   Based on
   http://unindented.org/articles/2009/10/github-ribbon-using-css-transforms/
*/
.git-ribbon {
    background-color: #2cbe4e;
    overflow: hidden;
    /* top left corner of screen */
    position: fixed;
    left: -3em;
    top: 2.5em;
    /* 45 deg ccw rotation */
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    /* shadow */
    -moz-box-shadow: 0 0 1em #888;
    -webkit-box-shadow: 0 0 1em #888;
}
.git-ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
    margin: 0.05em 0 0.075em 0;
    padding: 0.5em 3.5em;
    text-align: center;
    text-decoration: none;
    /* shadow */
    text-shadow: 0 0 0.5em #444;
}
