.recipe .descname {
    font-size: 240%;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

.package .descname {
    font-size: 180%;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

/* Style field lists as comma separated block */
.field-list ul {
    list-style: none;    /* no bullets */
    display: inline;     /* as word wrapped block */
    padding-left: 0px;   /* no indent */
}
.field-list li {
    display: inline;     /* as word wrapped block */
    white-space: nowrap; /* no line breaks inside of list item */
}
.field-list li::after {
    content: ", ";       /* add comma after each list item ... */
}
.field-list li:last-child:after {
    content: "";         /* except for the last item */
}
