anaconda-client=1.6.3
argh=0.26.2
beautifulsoup4=4.6.0
conda=4.3.21
conda-build=2.1.16
galaxy-lib=17.9.7
jinja2=2.9.6
jsonschema=2.5.1
networkx=1.11
pyaml=15.8.2
pydotplus=2.0.2
python=3.5.2
requests=2.12.4
sphinx
docutils
sphinx_rtd_theme
involucro=1.1.2
pandas=0.19.2
numpy=1.12.1
pygithub=1.29
colorlog=2.10.*
six=1.10.0
alabaster=0.7.9
