# basics
python>=3.7
conda=4.8.3
conda-build=3.19.2
conda-verify=3.1.*
argh=0.26.*          # CLI
colorlog=3.1.*       # Logging
tqdm>=4.26           # Progress monitor
ruamel_yaml=0.15.*   # Recipe YAML parsing
pyaml=17.12.*        # Faster YAML parser (deprecate?)
networkx=1.11
pandas=0.23.*
libblas=*=*openblas  # Avoid large mkl package (pulled in by pandas)
boltons=18.*
jsonschema=2.6.*     # JSON schema verification

# pinnings
conda-forge-pinning=2020.05.02.14.58.15

# tools
anaconda-client=1.6.*  # anaconda_upload
involucro=1.1.*        # mulled test and container build
skopeo=0.1.35          # docker upload
git=2.14.*             # well - git

# hosters - special regex not supported by RE
regex=2018.08.29

# asyncio
aiohttp=3.4.*      # HTTP lib
aiofiles=0.4.*     # async open
aioftp=0.12.*      # FTP lib
backoff=1.6.*      # retrying of failed API calls
cachetools=3.0.*   # request caching (NEEDED?)

# client API wrappers
gitpython>=3.0.8,3.0.*    # githandler
                          # needs >=3.0.8 due to https://github.com/conda-forge/staged-recipes/issues/10874
gidgethub=3.0.*           # githubhandler
pyjwt=1.7.*               # githubhandler (JWT signing)

# unknown
beautifulsoup4=4.6.*
galaxy-lib>=18.9.1
jinja2>=2.10.1,<2.11.a0

# docs
sphinx>=2
sphinx-autodoc-typehints
alabaster=0.7.*
docutils

# The bioconductor skeleton needs this
requests=2.22.*

# for bot
gunicorn=19.9.*        # web server
celery=4.2.*           # work queue
aiohttp-jinja2=1.1.*   # templating web pages
aiohttp-security=0.4.* # user authentication
aiohttp-session=2.7.*  # session management
aioredis=1.2.*         # session store, database
cryptography=2.*       # encryption (for cookies)
markdown=3.1.*         # md->html
