[Desktop Entry]
Version=1.1
Type=Application
Name=Program
Exec=__PREFIX__/bin/oxbreaker
Icon=__PREFIX__/share/oxbreaker/oxbreaker.png
Terminal=false

