[Desktop Entry]
Version=1.2.2
Type=Application
Name=OxBreaker
Exec=__PREFIX__/bin/oxbreaker
Icon=__PREFIX__/share/oxbreaker/oxbreaker.png
Terminal=false

