name: CommentResponder
on:
  issue_comment:
    types: [created]

jobs:
  pr_comment:
    runs-on: ubuntu-latest
    name: PR comment responder
    steps:
    - name: Setup ssh
      uses: webfactory/ssh-agent@v0.1.1
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
    - name: Run comment action
      env:
        BOT_TOKEN: ${{ secrets.GITHUBTOKEN }}
        ANACONDA_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        QUAY_OAUTH_TOKEN: ${{ secrets.QUAY_OAUTH_TOKEN }}
        QUAY_LOGIN: ${{ secrets.QUAY_LOGIN }}
        GITTER_TOKEN: ${{ secrets.GITTER_TOKEN }}
        CODE_SIGNING_KEY: ${{ secrets.CODE_SIGNING_KEY }}
        JOB_CONTEXT: ${{ toJson(github) }}
      uses: bioconda/bioconda-actions/bioconda_recipes_issue_responder/@issue_responder
